<div class="container">
  <div *ngIf="servicelocation">
    <h1 *ngIf="servicelocation.id!=0"> Servicelocation ID: {{servicelocation.id}} </h1>
    <h1 *ngIf="servicelocation.id==0"> New Servicelocation </h1>
    <div class="form-group row"> <label for="input_name" class="col-2 col-form-label">Text</label><div class="col-10"><input id="input_name" type="text" [(ngModel)] = servicelocation.name></div></div>
    <div class="form-group row"> <label for="input_shortname" class="col-2 col-form-label">Text</label><div class="col-10"><input id="input_shortname" type="text" [(ngModel)] = servicelocation.shortname></div></div>
    <div class="form-group row"> <label for="input_nightshiftneeded" class="col-2 col-form-label">Text</label><div class="col-10"><input id="input_nightshiftneeded" type="checkbox" [(ngModel)] = servicelocation.nightshiftneeded></div></div>
    <div class="form-group row"> <label for="input_comment" class="col-2 col-form-label">Text</label><div class="col-10"><input id="input_comment" type="text" [(ngModel)] = servicelocation.comment></div></div>
    <button (click)="save()"> Save </button>
    <button (click)="cancel()"> Cancel (Back) </button>
  </div>
</div>
